<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter">
  <style>
    @import url("src/style.css");
  </style>
  <script src="src/script.js"></script>
</head>
<body>
  <div class="body-wrapper">
    <div class="header">Header</div>
    <div class="services">
      <div class="service-home service-icon">
        <img src="src/home.svg" class=" non-image"></img>
      </div>
      
    </div>
    <div class="service-options">Service Options</div>
    <div class="main">Main Nav</div>
  </div>
</body>
</html>